<h1>エキスパンション追加</h1>

<div class="input-form">
  <fieldset class="form-group">
  <%= form_for @expansion do |f| %>
      <div class="form-group">
        <legend>エキスパンション名</legend>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <legend>エキスパンション日本語名</legend>
        <%= f.text_field :name_ja, class: "form-control" %>
      </div>
      <div class="form-group">
        <legend>略称</legend>
        <%= f.text_field :abbr, class: "form-control" %>
      </div>
      <div class="form-group">
        <legend>リリース</legend>
        <%= f.text_field :released_at, class: "form-control" %>
      </div>
    <hr>
    <div>
      <%= f.submit "追加", class:'btn btn-sm btn-primary'%>
    </div>
  <% end %>
  </fieldset>
</div>