<div class="home_header">
  <div class="login_info">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to "Settings", edit_user_registration_path, :class => "navbar-link" %> | 
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link" %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
    <% end %>
  </div>

  <div class="page_header text-center" ">
    <h1>Betrayers of Kamigawa</h1>
    <p>one bone broken for every twig snapped underfoot. —Llanowar penalty for trespassing.</p>
  </div>
</div>

<div class="body">
  <div class="page_title">
    <h2>コンテンツ</h2>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to "カードリスト", {:controller => "cards", :action => "index"}%>
    </li>
    <li class="list-group-item">
      <%= link_to "エキスパンション", {:controller => "expansions", :action => "index"}%>
    </li>
  </ul>  
</div>

