<h1>カード一覧</h1>

<div>
  <%= link_to "追加", new_card_path %>
  <%= link_to "インポート", import_cards_path, method: :post %>
  <%= link_to "全削除", destroy_all_cards_path, method: :post, data: {confirm: "本当に削除しますか"} %>

</div>

<hr>
<div class="contents">
  <table>
    <thead>
      <tr>
        <th>number</th>
        <th>name</th>
        <th>name_ja</th>
        <th>cost</th>
        <th>expansion</th>
        <th>types</th>
        <th>power</th>
        <th>toughness</th>
        <th>artist</th>
        <th>rarity</th>
        <th>show</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |card| %>
        <tr>
          <td><%= card.number %></td>
          <td><%= card.name %></td>
          <td><%= card.name_ja %></td>
          <td><%= card.cost %></td>
          <td><%= card.expansion %></td>
          <td><%= card.types %></td>
          <td><%= card.power %></td>
          <td><%= card.toughness %></td>
          <td><%= card.artist %></td>
          <td><%= card.rarity %></td>
          <td><%= link_to "詳細", card_path(id: card.id) %></td>
          <td><%= link_to "削除", card_path(id: card.id), method: :delete, data: { confirm: "本当に削除しますか"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>